.Pokedex{
    text-align: center;
}

.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner{
    color: rgb(60, 190, 64);
}

.Pokedex-loser{
    color: rgb(226, 38, 38);
}